body{
    background: #1d1d1d;
    color: white;
}

#intro{
    align-items: center;
    justify-content: center;
    color: #51c4e0;
    text-decoration: none;
}

#intro strong{
    text-decoration: underline;
    text-decoration-color: orange;
}