/* elements */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    background-color: white;
}

nav {
    display: flex; /*make them appear in-line rather than stacked*/
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

a:hover {
    color: #ef744b !important;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.hero {
    height: 100vh; /*makes it the height of the browser*/
    background-color: #1c1d25;
    color: white;
    font-size: 40px;
}

.thanks {
    height: 100vh; /*makes it the height of the browser*/
    background-color: #1c1d25;
    color: white;
    font-size: 40px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.hamburger {
    display: none;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.thanks-area {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.thanks-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
    color: white;
}

.social:hover {
    cursor: pointer;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-github:hover {
    color: #6e5494;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 35px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.button a:hover {
    color: white;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project-card {
    min-width: 250px;
    width: 300px;
    height: 500px;
    /* border: 1px solid black; */
    border-radius: 10%;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
}

.project-view-more-card {
    text-align: center;
    min-width: 250px;
    max-width: 400px;
    width: 300px;
    height: 500px;
    /* border: 1px solid black; */
    border-radius: 10%;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
}

.project-view-more-card-details {
    margin-top: 65%;
    margin-bottom: 65%;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

.contact-input {
    border: 0px;
    border-color: #ef744b;
    border-radius: 15px;
    height: 25px;
    width: 250px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.contact-input:required:focus, .contact-area:required:focus {
    border: 5px solid red;
}

.contact-area {
    border: 0px;
    border-color: #ef744b;
    border-radius: 15px;
    height: 100px;
    width: 250px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.contact-input:hover, .contact-area:hover {
    outline: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #ef744b;
}

.email-btn {
    width: 180px;
    height: 45px;
    border-radius: 55px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    color: white;
}

.email-btn:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

/* media queries */
@media only screen and (max-width: 1200px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color:white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}

/* @media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1920px) {

} */